rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // DİKKAT: Bu kural geliştirme için tüm erişime izin verir.
    // Prototip aşamasındaki izin hatalarını gidermek için kullanılmıştır.
    // Canlıya almadan önce bu kuralların sıkılaştırılması gerekir.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
